{% extends 'base.html'%}

{% block content %}

<h2>Update Child Details</h2>
<br>
<div class="form">
<form class="form" action="/children/{{child.id}}" method="POST">
    <label for="name">
        <span>Name:</span>
        <input id="name" name="name" type="text" value="{{child.name}}">
    </label>

    <label for="date_of_birth">
        <span>Date of birth:</span>
        <input id="date_of_birth" name="date_of_birth" type="text" value="{{child.date_of_birth}}">
    </label>
    <label for="allergies">
        <span>Allergies:</span>
        <input id="allergies" name="allergies" type="text" value="{{child.allergies}}">
    </label>
    <label for="guardian">Select from an existing guardian:</label>
        <select name="guardian_id" id="guardian_id" value="">
            {% for guardian in guardians %}
            <option  value="{{ guardian.id }}">{{ guardian.name }} </option>
            {% endfor %}
        </select>
        <br>

    <input class="update-button" type="submit" value="Update Child">
</form>
</div>




{% endblock %}