<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>CareHub</title>
</head>
<header>
    <h1>CareHub</h1>
    <p class="nursery-details">
        Forest Nursery, 88 Edinburgh Road, Tel: 01314053902</p>
    <nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/children">Current Children</a></li>
            <li><a href="/children/new">Register a New Child</a></li>
        </ul>
    </nav>
</header>

<br>

{% block content %}

{% endblock %}


<body>
    
</body>
</html>
