<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursery</title>
</head>
<header>
    <h1>Nursery</h1>
    <nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/children">Current Children</a></li>
            <li><a href="/new">Register a New Child</a></li>
        </ul>
    </nav>
</header>
<section id="content">
{% block content %}

{% endblock %}
</section>

<body>
    
</body>
</html>
