{% extends 'base.html'%}

{% block content %}

<h2>Register a New Child</h2>
<br>
<div class="form">
<form class="form" action="/children" method="POST">
    <label for="name">
        <span>Name:</span>
        <input id="name" name="name" type="text">
    </label>

    <label for="date_of_birth">
        <span>Date of birth:</span>
        <input id="date_of_birth" name="date_of_birth" type="text">
    </label>
    <label for="allergies">
        <span>Allergies:</span>
        <input id="allergies" name="allergies" type="text">
    </label>
    <label for="guardian">Select from an existing guardian:</label>
        <select name="guardian_id" id="guardian_id">
            {% for guardian in guardians %}
            <option value="{{ guardian.id }}">{{ guardian.name }} </option>
            {% endfor %}
        </select>
        <br>

    <input class="register-button" type="submit" value="Add Child">
</form>
</div>

{% endblock %}