{% extends 'base.html'%}

{% block content %}

<h1>Register a New Child</h1>
<form class="form" action="/register" method="POST">
    <label for="name">
        <span>Name:</span>
        <input id="name" name="name" type="text">
    </label>

    <label for="date_of_birth">
        <span>Date of birth:</span>
        <input id="date_of_birth" name="date_of_birth" type="text">
    </label>
    <label for="allergies">
        <span>Allergies:</span>
        <input id="allergies" name="allergies" type="text">
    </label>
    <label for="guardian">Guardian</label>
    <select name="guardian" id="guardian">
        {% for guardian in guardians %}
        <option value="{{guardian.name}}">{{guardian.name}}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Add Child">
</form>



{% endblock %}