{% extends 'base.html'%}

{% block content %}

<h2>Current Children</h2>
<br>

{% for staff_member in staff_members %}

<div class="Room-and-staff-name">
    {% for room in rooms  %}
        {% if room.id == staff_member.room %}
        <h3>Room: {{room.name}}</h3>
        {% endif %}
    {% endfor %}
    <div class="staff-name">
        <h3>Staff member: {{staff_member.name}}</h3>
    </div>
</div>


<section class="children-section">

    
    {% for child in children %}
    <div class="children-by-room">
        {% if child.room == staff_member.room %}
        <div class="child-details">
        <h4> Child name: {{ child.name }} </h4>
        <h4> DOB: {{ child.date_of_birth }} </h4>
        <h4> Age: {{ child.childs_age}} </h4>
        <h4> Allergies: {{ child.allergies }} </h4>
            {% for guardian in guardians  %}
                {% if child.guardian == guardian.id %}
                <h4> Guardian contact number: {{ guardian.contact_number }} </h4>
                {% endif %}
            {% endfor %}
            <div class="All-buttons">
                <form  action="/children/delete/{{child.id}}" method="POST">
                    <input class="remove-button" type="submit" value="Remove Child from Nursery">
                </form>
                    <a href="/children/{{child.id}}">
                        <button class="update-button" type="button">Update Child Details</button> 
                    </a>
            </div>
        </div>
        {% endif %}
    </div>  
    {% endfor %}
    
</section>
<br>
{% endfor %}


{% endblock %}

